NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=

NEXT_PUBLIC_APPWRITE_DATABASE_ID=
NEXT_PUBLIC_APPWRITE_MEMBERS_TABLE_ID=
NEXT_PUBLIC_APPWRITE_PROPERTIES_TABLE_ID=
NEXT_PUBLIC_APPWRITE_MAINTENANCE_TABLE_ID=
NEXT_PUBLIC_APPWRITE_PROFESSIONALS_TABLE_ID=
NEXT_PUBLIC_APPWRITE_SERVICES_TABLE_ID=
NEXT_PUBLIC_APPWRITE_BOOKINGS_TABLE_ID=
NEXT_PUBLIC_APPWRITE_PRODUCTS_TABLE_ID=
NEXT_PUBLIC_APPWRITE_CART_TABLE_ID=
NEXT_PUBLIC_APPWRITE_ORDERS_TABLE_ID=
NEXT_PUBLIC_APPWRITE_ORDER_ITEMS_TABLE_ID=
NEXT_PUBLIC_APPWRITE_REVIEWS_TABLE_ID=
NEXT_PUBLIC_APPWRITE_MESSAGES_TABLE_ID=
NEXT_PUBLIC_APPWRITE_NOTIFICATIONS_TABLE_ID=
NEXT_PUBLIC_APPWRITE_WARRANTIES_TABLE_ID=
NEXT_PUBLIC_APPWRITE_COMPLAINTS_TABLE_ID=
NEXT_PUBLIC_APPWRITE_PLATFORM_SETTINGS_TABLE_ID=

NEXT_PUBLIC_RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

NEXT_PUBLIC_APPWRITE_PAYMENTS_TABLE_ID=

APPWRITE_API_KEY=